.header{
    display: flex;
    justify-content: space-between;
    /* background: #fff; */
    position: absolute;
    width: 100%
}
.header-logo{
    display: flex;
    justify-content: flex-start;
    margin: 1rem 2rem;
    cursor: pointer;
}
.header-logo-link{
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    align-items: center;
}
.header-logo-star{
    text-align: center;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 1rem;
    background: #24A5F1;
}
.header-logo-text{
    margin-left: 1rem;
}
.header-items-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 2rem;
    margin-right: auto;
}
.header-container-item{
    margin-right: 2rem;
    cursor: pointer;
}
.header-container-item-Star{
    padding: 0.5rem;
    /* background: #8EE196; */
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
.header-container-item-Star a{
    color: #fff;
}
.header-sign{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-login{
    display:flex;
    margin-right: 2rem;
    cursor: pointer;
}
.header-signIn{
    margin-right: 2rem;
    cursor: pointer;
}
.header-login-none{
    display:none;
}
@media only screen and (max-width: 600px) {
    .header-items-container{
        display: none;
    }
    .header-sign{
        margin-left: 0;
    }    
}
@media only screen and (max-width: 800px) {
   .header-container-item{
       display: none;
   }
}