<div class="header">
    <div class="header-logo">
        <a routerLink=""  class="header-logo-link">
            <div class="header-logo-star">S</div>
            <div class="header-logo-text">Pluto&nbsp;the&nbsp;sub:)</div>
        </a>
    </div>
    <div class="header-items-container">
        <div class="header-container-item"><a routerLink="sign">My&nbsp;sub</a></div>
        <div class="header-container-item"><a routerLink="partnership">Partnership</a></div>
        <div class="header-container-item-Star"><a routerLink="popular-subs">Popular&nbsp;services&sub</a></div>
    </div>
    <div class="header-sign">
        <div *ngIf="logOutCheck;else unset" class="header-login" ><a routerLink="sign">Sign&nbsp;in</a></div>
        <ng-template #unset>
            <div class="header-login"><a (click)="LogOut()" routerLink="sign">Log&nbsp;out</a></div>
        </ng-template>
    </div>
</div>
