.sign-up-content-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 325px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0rem 0rem 2rem 0.35rem rgba(201,194,194,1);
    background: #fff;
    margin:2rem;
    margin-top:10vh;
}
.sign-up-content-form h3{
    margin: 0.75rem;
}
.sign-up-content-form h5{
    margin: 0.75rem;
    font-weight: 500;
}
.sign-up-content-form-title{
    height: 30px;
    padding: 0.5rem;
    padding-bottom: 0;
    font-size: 1rem;
    color: #aeaeae;
    width: 240px;
    display: flex;
    align-items: center;
}
.sign-up-content-form-error {
    border: 2px solid #DC134C !important;
}
.sign-up-content-form input[type="text"],.sign-up-content-form input[type="date"], .sign-up-content-form input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 0 auto;
    border: 2px solid #ECE9E6;
    padding: 0.5rem;
    width: 240px;
    outline: none;
    color: #3d3d3d;
    border-radius: 10px;
    transition: 0.25s;
}

.sign-up-content-form input[type="text"]:focus.sign-up-content-form input[type="date"]:focus, .sign-up-content-form input[type="password"]:focus{
    width: 280px;
    border-color: #74ebd5;
}
.sign-up-content-form-submit{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
    width: 260px;   
}
.sign-up-content-form-date-of-birthday{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
}
.sign-up-content-form-date-of-birthday select{
    border: 0;
    background: none;
    display: block;
    margin: 0 auto;
    border: 2px solid #ECE9E6;
    padding: 0.5rem;
    max-width: 95px;
    outline: none;
    color: #aeaeae;
    border-radius: 10px;
    transition:0.25s;
    appearance: none;
    -webkit-appearance: none;
}
.sign-up-content-form-date-of-birthday select:focus{
    border-color: #74ebd5;
    color: #3d3d3d;
}
.sign-up-content-form-submit input[type="submit"]{
    padding: 0.5rem 0.75rem;
    /* background: #8EE196; */
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    border: 0;
    outline: none;
    text-align: center;
}
.sign-up-content-form-submit a{
    font-size: 0.7rem;
    margin-left: 1rem;
    color: #ACB6E5;
}
.sign-up-content-form-gender{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 260px;
}
.sign-up-content-form-gender-item{
    display: inline-block;
    position: relative;
    padding: 0 6px;
    font-size: 0.85rem;
}

  
  .sign-up-content-form-gender-item input[type='radio'] {
    display: none;
  }
  
  .sign-up-content-form-gender-item label {
    color: #aeaeae;
    font-weight: normal;
  }
  
  .sign-up-content-form-gender-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 15px;
    height: 15px;
    border-radius: 11px;
    border: 2px solid #aeaeae;
    background-color: transparent;
  }
  
  .sign-up-content-form-gender-item input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 44%;
    left: 11px;
    content: " ";
    display: block;
    background: #74ebd5;
  }
.sign-up-content-form-login-validation-error{
    height: 20px;
    font-size: 0.7rem;
    color: #dc134c;
    width: 240px;
    display: flex;
    align-items: center;
    visibility: visible  !important;
}

.sign-up-content-form-login-validation-ok{
    visibility: hidden;
}

@media only screen and (max-width: 600px) {
    .sign-up-content-form{
        width: 250px;
        margin: 15vh auto;
    }
    .sign-up-content-form input[type="text"], .sign-up-content-form input[type="password"]{
        width: 180px
    }
    .sign-up-content-form input[type="text"]:focus, .sign-up-content-form input[type="password"]:focus{
        width: 180px
    }
    .sign-up-content-form-title, .sign-up-content-form-date-of-birthday, .sign-up-content-form-gender, .sign-up-content-form-submit{
        width: auto;
    }   
}