.profile-subsriptions{
    display: flex;
    flex-wrap: wrap;
}
.profile-subscription{
    width: 155px;
    height: 155px;
    margin:10px 10px;
    border-radius: 0.75rem;
    box-shadow: 0rem 0rem 2rem 0.35rem rgba(201,194,194,1);
    position: relative;
    display: inline-block; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-subscription img{
    height: 30vh; 
    transition: 1s; 
    display: block;
}
.profile-subscription:hover img{
    transform: scale(1.2); 
    cursor: pointer;
}
.profile-subscription div{
    position: absolute;
    font-size: 1.75rem;
    color: #fff;
    cursor: pointer;
}