<div class="content">
    <div class="subscription-price-title">
        <div class="subscription-title">Subscription</div>
        <div class="subscription-time">
            <div class="subscription-time-daily">Daily</div>
            <div class="subscription-time-yearly">Yearly</div>
        </div>
    </div>
    <div class="subscriptions-price-content">
        <div class="subscription-price">
            <div class="days">30 days</div>
            <div class="money">$4</div>
            <div class="description">Enjoy the full 2 months ofsubscription for full length. At no additional cost.</div>
        </div>
        <div class="subscription-price-star">
            <div class="days">30 days</div>
            <div class="money">$4</div>
            <div class="description">Enjoy the full 2 months of subscription</div>
            <div class="book-now">Book Now</div>    
        </div>
        <div class="subscription-price">
            <div class="days">30 days</div>
            <div class="money">$4</div>
            <div class="description">Enjoy the full 2 months ofsubscription for full length. At no additional cost.</div>
        </div>
        <div class="subscription-price">
            <div class="days">30 days</div>
            <div class="money">$4</div>
            <div class="description">Enjoy the full 2 months ofsubscription for full length. At no additional cost.</div>
        </div>
    </div>
</div>