<div class="home-title">My Subscriptions</div>
<div class="home-profile-subsriptions">
    <app-profile-subscription></app-profile-subscription>
    <div class="more"><a routerLink="../subscriptions">More</a></div>
</div>
<div class="home-title">My Cards</div>
<div class="home-profile-cards">
    <app-profile-card></app-profile-card>
</div>
<div class="home-title">My Spending</div>
<div class="transaction-info">
    <div class="all-spend">
        <div class="total-spend">Total spend:</div>
        <div class="total-spend-value">312.57$ USA</div>
    </div>
    <div class="spend-grafic"></div>
    <div class="resent-transactions">
        <div class="resent-transactions-items">
            <div class="resent-transactions-item">
                <img src="" alt="" class="logo">
                <div class="name-service">Netflix</div>
            </div>
            <div class="service-spend">-2.57$ USA</div>
        </div>
        <div class="resent-transactions-items">
            <div class="resent-transactions-item">
                <img src="" alt="" class="logo">
                <div class="name-service">Netflix</div>
            </div>
            <div class="service-spend">-2.57$ USA</div>
        </div>
        <div class="resent-transactions-items">
            <div class="resent-transactions-item">
                <img src="" alt="" class="logo">
                <div class="name-service">Netflix</div>
            </div>
            <div class="service-spend">-2.57$ USA</div>
        </div>
        <div class="resent-transactions-items">
            <div class="resent-transactions-item">
                <img src="" alt="" class="logo">
                <div class="name-service">Netflix</div>
            </div>
            <div class="service-spend">-2.57$ USA</div>
        </div>
        <div class="resent-transactions-items">
            <div class="resent-transactions-item">
                <img src="" alt="" class="logo">
                <div class="name-service">Netflix</div>
            </div>
            <div class="service-spend">-2.57$ USA</div>
        </div>
        <div class="resent-transactions-items">
            <div class="resent-transactions-item">
                <img src="" alt="" class="logo">
                <div class="name-service">Netflix</div>
            </div>
            <div class="service-spend">-2.57$ USA</div>
        </div>
        <div class="resent-transactions-items">
            <div class="resent-transactions-item">
                <img src="" alt="" class="logo">
                <div class="name-service">Netflix</div>
            </div>
            <div class="service-spend">-2.57$ USA</div>
        </div>
        <div class="resent-transactions-items">
            <div class="resent-transactions-item">
                <img src="" alt="" class="logo">
                <div class="name-service">Netflix</div>
            </div>
            <div class="service-spend">-2.57$ USA</div>
        </div>
        <div class="resent-transactions-items">
            <div class="resent-transactions-item">
                <img src="" alt="" class="logo">
                <div class="name-service">Netflix</div>
            </div>
            <div class="service-spend">-2.57$ USA</div>
        </div>
        <div class="resent-transactions-items">
            <div class="resent-transactions-item">
                <img src="" alt="" class="logo">
                <div class="name-service">Netflix</div>
            </div>
            <div class="service-spend">-2.57$ USA</div>
        </div>
        
    </div>
</div>