.profile-menu{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
}
.profile-img{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-img-button{
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0rem 0rem 2rem 0.35rem rgba(201,194,194,1);
}
.profile-img-button img{
    width: 110%;
}
.profile-name{
    margin-top: 1rem;
}
.profile-notifications-on-profile-image{
    position: absolute;
    width: 17px;
    height: 17px;
    color: #fff;
    background: #ACB6E5;
    padding: 3px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 55px;
    top: 25%;
    border-radius: 50%;
}
.menu-bar-of-navigation{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 45px 30px;
    font-size: 0.8rem;
}
.menu-bar-item{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.2rem 0;
}
.menu-bar-item svg{
    width: 25px;
    margin-right: 1rem;
    fill: #000;
}
.menu-bar-item-select{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.2rem 0;
    color: #24A5F1;
}
.menu-bar-item-select svg{
    width: 25px;
    margin-right: 1rem;
    fill: #24A5F1;
}
.menu-bar-item img{
    width: 25px;
    margin-right: 1.5rem;
}
.select-indecator{
    background: #24A5F1;
    position: absolute;
    width: 3px;
    height: 25px;
    left:0%;
}