.company-description{
    display:block;
    margin:5rem;
}
.description{
    margin:2rem;
    font-size: 1.75rem;
    text-align: centre;
}
.description-button{
    display:flex;
    justify-content: center;
    align-items: center;
}
.description-button a{
    padding:0.5rem;
    /* background: #8EE196; */
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    text-align: centre;
}
.description-img img{
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .company-description{
        display: none;
    }
}